<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="com.tailormyresume.feature.settings.impl.navigation.SettingsFileProvider"
            android:authorities="${applicationId}.settings.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/feature_settings_impl_file_paths" />
        </provider>
    </application>

</manifest>
